.home {
  height: auto;
}

.top {
  height: 55px;
  border-bottom: 1px solid #E3E3E3;
}

.body {
  width: 1200px;
  height: 334px;
  display: flex;
  flex-direction: column;
  margin-left: 37px;
  padding-top: 16px;
  padding-bottom: 25px;
}

.container {
  display: flex;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.title {
  width: 89px;
  height: 31px;

  /* font-family: Noto Sans KR; */
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}